{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}TOP{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <div class="page-header text-center">
        <h1>ふらっと開催！オンライン勉強会</h1>
    </div>
    <div class="container">
        <div class="box">
            <div class="row">
                エンジニア向けオンライン勉強会
            </div>
            <h3>開催中勉強会</h3>
            <ul>
              <li>勉強会1</li>
              <li>勉強会2</li>
            </ul>
            <a href="">新規作成</a>
        </div>
    </div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}
フッタ
{% endblock %}
